<div id="whitespace">
    <a href="/">ODYSSEUS</a>
    {{#if user.admin}}
    - 
    <a href="/dashboard">Dashboard</a>
    - 
    <a href=>Add listing</a>
    - 
    <a href=>Add user</a>
    - 
    <a href="/displayAllRooms">Display all rooms</a>
    {{/if}}
    <span id="login">Welcome {{user.fullname}}</a>
</div>