<div id="whitespace">
    <a href="/">ODYSSEUS</a>
    {{#if user.fullname}}
        <a href="/dashboard" id="login">Welcome {{user.fullname}}</a>
    {{else}}
        <a href="/signIn" id="login">SIGN IN</a>
    {{/if}}
</div>