
    <div id="whyOdysseus">
        
        
    </div>
    <div id="whyParagraph">
        <span id="whyTitle">Why Odysseus?</span>
        <span>Life is a journey. We believe in growth and experiences, and we're here
            to support you during your own odyssey. Book your next vacation with us and
            make your next experience afforable and memorable.
        </span>
        <img id="travelphoto" src="img/travel.jpg">
    </div>