<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Web222 Assignment 1 / 2</title>
            <link rel="stylesheet" href="css/style.css" />
            <link rel="stylesheet" href="css/login.css" />
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  </head>
  <body>
      {{> title}}
    
    <div id="registerUser" class="form">
        <span id="registerMessage" class="formInput">Please complete the form to register an account with us</span>
        <form id="registerForm" method="POST" action="/addUser">
            <input class="formInput" type="text" name="email" placeholder="E-mail address">        
            <input class="formInput" type="text" name="fullName" id="registerFullName" placeholder="Full Name">
            <input class="formInput" type="password" name="signInPassword" id="registerPassword" placeholder="Create a password">
            <label for="birthdate" class="formInput">Please enter your date of birth</label>
            <input class="formInput" name="birthdate" type="date">
            <button class="formInput" type="submit" id="submitRegistration">Submit</button>
        </form>
    </div>

    {{> footer }}
    <script src="js/script.js"></script>
    <script src="listings/listings.js"></script>
    <script src="js/validateSignIn.js"></script>
  </body>
</html>

